* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border;
}

#nav {
  background: linear-gradient(to right top, #12c2e9, #c471ed, #f64f59);
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  text-align: center;
  font-weight: 300;
}

.container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
/* first section */
.section-one {
  background: linear-gradient(to right top, #f2994a, #f2c94c);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

p {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #c33764;
  font-weight: 500;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
}
#hands {
  height: 100px;
  width: 100px;
}

/* second section */
.section-two {
  background: linear-gradient(to right top, #ede574, #e1f5c4);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

#id {
  height: 150px;
  width: 400px;
}

/* third section */
.section-three {
  background: linear-gradient(to right top, #56ccf2, #2f80ed);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

#face {
  padding-top: 10px;
  height: 150px;
  width: 100px;
}

/* fourth section */
.section-four {
  background: linear-gradient(to right top, #d3cce3, #e9e4f0);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

#doctor {
  padding-top: 10px;
  height: 150px;
  width: 100px;
}

/* footer */
footer {
  background: linear-gradient(to right top, #12c2e9, #c471ed, #f64f59);
  justify-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  bottom: 5;
  z-index: 1;
}

#source {
  font-size: 33px;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  text-align: center;
  font-weight: 300;
}
